# dependencies
/node_modules

# env files
.env
.env.*
.dev.vars

# debug & logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# cloudflare / wrangler
.wrangler/

# OS misc
.DS_Store
Thumbs.db
